@forward "globals";
@use "util" as u;


.container {
    width: 90vw;
    margin: 10px auto;
    color: white;
    padding: 1rem;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .buttons {
        margin-top: auto;
    }
    .edit-button {
        background-color: var(--color3);
        padding: 10px;
        border-radius: 5px;
        color: white;
    }
    #author {
        color: white;
        text-decoration: underline;
    }
    @include u.breakpoint(medium) {
        width: 75vw;
    }

    @include u.breakpoint(large) {
        width: 60vw;
    }
}