@forward "globals";
@use "util" as u;


.container {
    
    width: clang(90vw, 90%, 100vw);
    margin: 10px auto;
    color: white;
    padding: 1rem;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    .content {
        margin-bottom: 30px;
        overflow: hidden;
        img {
            max-width: 85vw;
            max-height: 50vh;
            object-fit: contain;
            margin: 10px auto;
        }
    }
    .buttons {
        margin-top: auto;
    }
    .edit-button {
        background-color: var(--color3);
        padding: 10px;
        border-radius: 5px;
        color: white;
    }
    #author {
        color: white;
        text-decoration: underline;
    }

    @include u.breakpoint(medium) {
        width: 75vw;
    }

    @include u.breakpoint(large) {
        width: 60vw;
    }
}