{% extends 'Home/layout.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'Home/style/about.css' %}">
{% endblock %}
{% block body %}
    <div class="template">
        <div class="template-content">
            <h1>About Us</h1>
            <hr>
        </div>
    </div>
    <div class="container">
        <div class="schools">
            {% for school in schools %}
            <div class="school">

                <h1>{{ school.name }}</h1>

                <div class="members">
                    {% for member in members %}
                        {% if member.school == school %}
                        <a href="{% url 'Home:member' member.user %}">
                            <div class="member"> 
                                
                                <div class="photo">
                                    <img src="{{ member.member_image.url }}">
                                </div>
                                
                                <div class="name">
                                    {{ member.user.first_name }} {{ member.user.last_name }}
                                </div>
                            </div>
                        </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}