{% extends 'Home/layout.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'Home/style/about.css' %}">
{% endblock %}
{% block body %}
    <div class="template">
        <div class="template-content">
            <h1>About Us</h1>
            <hr>
        </div>
    </div>

    <div class="container">
        <h2>Subodh Public School</h2>
        {% comment %} {% for  in  %}{% endfor %} {% endcomment %}
    </div>

{% endblock %}