{% extends 'Home/layout.html' %}
{% load static %}
{% block title %}
    About Form
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'Home/style/form.css' %}">
{% endblock %}

{% block body %}

    <div class="container">

        <h1>Form</h1>
        <div class="note">
            {% if request.user.is_authenticated == False %}        
            <b>Note:</b> Please login or register first before completing this form. <br>
            {% endif %}
            <div class="message">
                {% if message %} {{message}} {% endif %}
            </div>
        </div>

        <form action="{% url 'Home:change_profile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <select name="school" id="school">
                <option disabled>Select your School</option>
                {% for schol in schools %}
                    {% if schol == school %}
                        <option value="{{ schol.name }}" selected>{{schol.name}} </option>
                    {% else %}
                        <option value="{{ schol.name }}">{{schol.name}} </option>
                    {% endif %}
                {% endfor %}
            </select>
            <textarea name="bio" id="intro" cols="30" rows="10" placeholder="A Short Introduction or Bio">{{bio}}</textarea>

            <!-- Here Starts the Image Upload Field -->
            <label for="image-upload-field">Upload an Image in Portrait Form</label>
            <input type="file" accepts="image/png image/jpg image/jpeg image/bmp" name="image" id="image-upload-field" value="{{image}}">
            <input type="submit" value="Submit">
        </form>

    </div>

{% endblock %}