{% extends 'Home/layout.html' %}
{% load static %}
{% block title %}
    About Form
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'Home/style/form.css' %}">
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Form</h1>
        <div class="note">
            <b>Note:</b> Please login or register first before completing this form. <br>
            {% if message %} {{message}} {% endif %}
        </div>
        <form action="{% url 'Home:form' %}" method="post">
            {% csrf_token %}
            <select name="school" id="school">
                <option disabled selected>Select your School</option>
                {% for school in schools %}
                    <option value="{{ school.name }}">{{school.name}} </option>
                {% endfor %}
            </select>
            <textarea name="bio" id="" cols="30" rows="10" placeholder="A Short Introduction or bio"></textarea>

            <input type="file" name="image" id="file-upload" accept="image/png, image/jpeg, image/jpg">
            <label for="file-upload" class="fileUpload">Upload your Image in Portrait Form </label>

            <input type="submit" value="Submit">
        </form>
    </div>

{% endblock %}