{% extends 'Home/layout.html' %}
{% load static %}
{% block title %}
    About Form
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'Home/style/form.css' %}">
{% endblock %}

{% block body %}

    <div class="container">

        <h1>Form</h1>
        <div class="note">
            {% if request.user.is_authenticated == False %}        
            <b>Note:</b> Please login or register first before completing this form. <br>
            {% endif %}
            {% if message %} {{message}} {% endif %}
        </div>

        <form action="{% url 'Home:form' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <select name="school" id="school">
                <option disabled selected>Select your School</option>
                {% for school in schools %}
                    <option value="{{ school.name }}">{{school.name}} </option>
                {% endfor %}
            </select>
            <textarea name="bio" id="" cols="30" rows="10" placeholder="A Short Introduction or Bio"></textarea>

            <!-- Here Starts the Image Upload Field -->
            <label for="image-upload-field">Upload an Image in Portrait Form</label>
            <input type="file" accepts="image/png image/jpg image/jpeg image/bmp" name="image" id="image-upload-field">
            <input type="submit" value="Submit">
        </form>

    </div>

{% endblock %}