{% extends 'Home/layout.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link rel="stylesheet" href="{% static 'Home/style/index.css' %}">
{% endblock %}
{% block body %}

<div class="container">
    <div class="grid" data-aos="fade-up">
        <!-- Section Left -->
        <div class="left">
            <h1>NSDR</h1>
            <p>NSDR stands for Non Sleep Deep Rest. It is a no cost tool to relax quickly and deeply. It finds several applications in lives of students, knowledge workers and medical patients.

            </p>
            <p>NSDR comes with several benefits like improving cognitive abilities and rates of learning or neuroplasticity, 
                reducing stress levels, improving concentration and focus and shifting our perception. Moreover, it is grounded in solid peer-reviewed science.</p>
            <a href="{% url 'Articles:article' "NSDR" %}">Learn More About NSDR </a>   
        </div>
    
        <!-- Section Right -->
        <div class="right">
            <img src="{% static 'Home/images/Brain.jpg' %}">
        </div>
    </div>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
{% endblock %}