{% extends 'Home/layout.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block head %}
{% comment %} <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> {% endcomment %}
<link rel="stylesheet" href="{% static 'Home/style/index.css' %}">
{% endblock %}
{% block body %}

<div class="container">
    <div class="grid">
        <!-- Section Left -->
        <div class="left">
            <h1>NSDR</h1>
            <p>We create beautiful videos to share our passion for knowledge. We value quality over quantity, always.
                Nothing in the universe is boring if you tell a good story.</p>
            <p>Kurzgesagt – German for „In a nutshell“ is a Munich-based YouTube channel and animation studio with a unique
                perspective on design, color, and storytelling.Kurzgesagt – German for „In a nutshell“ is a Munich-based
                YouTube channel and animation studio with a unique perspective on design, color, and storytelling.</p>
            <a href="#">Learn More About NSDR </a>   
        </div>
    
        <!-- Section Right -->
        <div class="right">
        </div>
    </div>
</div>
{% comment %} <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script> {% endcomment %}
{% endblock %}