{% extends 'Home/layout.html' %}
{% load static %}
{% block title %}
    {{member.user}}'s Profile
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'Home/style/member.css' %}">
{% endblock %}
{% block body %}

    <div class="container">
        <div class="grid">
            <div class="left">
                <img src="{{member.member_image.url}}">
            </div>
            <div class="right">
                <h1>{{member.user}}</h1>
                <p id="bio">
                    {{member.bio}}
                </p>
                <div class="bottom">
                   <span class="contact"><b>Contact {{member.user}}: </b> {{member.user.email}}</span> <br>
                    {% if request.user == member.user %}
                    <a href="{% url 'Home:change_profile' %}" class="change">Change Profile</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}