{% extends 'Home/layout.html' %}
{% load static %}
{% block title %}
    {{member.user}}'s Profile
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'Home/style/member.css' %}">
{% endblock %}
{% block body %}

    <div class="container">
        <div class="grid">
            <div class="left">
                <img src="{{member.member_image.url}}">
            </div>
            <div class="right">
                <h1>{{member.user}}</h1>
                <p id="bio">
                    {{member.bio}}
                </p>
                <b>Contact {{member.user}}: </b> {{member.user.email}}
            </div>
        </div>
    </div>
{% endblock %}