{% extends 'Home/layout.html' %}
{% load static %}

{% block title %}
    Sources
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'Home/style/document.css' %}">
    <style>
        .container {
            display: flex;
            flex-direction: column;
        }
        .buttons {
            margin-top: auto;
            margin-bottom
        }
        .buttons a{
            background-color: #121132;
            padding: 0.5rem;
            border-radius: 5px;
            color: white;
        }
        .buttons a:hover {
            transition: 0.2s ease-in-out;
            background-color: #292673;
        }
    </style>
{% endblock %}

{% block body %}
<div class="template">
    <div class="template-content">
        <h1>Sources</h1>
        <hr>
    </div>
</div>

<div class="container">
    {% if message %}
        <h1>
            {{message}}
        </h1>
    {% endif %}

    <h1>Aritcle Soures</h1>
    <ul>

       {% for article in articles %}
       
            {% if article.sources.all.len != 0 %}
                <li>For Article <a href="{% url 'Articles:article' article.title %}">"{{article.title}}": </a> <br>
                    
                <ul>
                    {% for source in article.sources.all %}
                        <li><a href="{{source.sourceURL}}">{{source.sourceURL}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
       {% endfor %}

    </ul>

    <h1> General Sources</h1>

    <ul>
        {% for source in sources %}
            <li>For {{source.title}}: <a href="{{source.sourceURL}}">{{source.sourceURL}}</a></li>
        {% endfor %}
    </ul>

    <div class="buttons">
        {% if request.user.is_staff or request.user.is_superuser %}
            <a href="{% url 'Home:add_sources' %}">Add Sources</a>
        {% endif %}
    </div>
</div>
{% endblock %}