:root {
    --color1: hsl(242, 50%, 5%);
    --color2: hsl(242, 50%, 13%);
    --color3: hsl(242, 50%, 20%);
    --color4: hsl(242, 50%, 25%);
    --color5: hsl(242, 50%, 30%);
    --text-color: white; 
}