{% extends 'Articles/layout.html' %}
{% load static %}

{% block title %}{{article.title}} {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'Articles/style/article.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="title">
            <h1>
                {{article.title}}
            </h1>
        </div>
        <div class="content">
            {{article.content|safe}} <br>
            <b>Written by: </b> {{article.author}}
        </div>
        <div class="buttons">
            {% if request.user == article.author %}
                <a href="{% url 'Articles:edit' article.title %}" class="edit-button">Edit this Article</a>
                {% endif %}
    
            {% if request.user == article.author or request.user.is_superuser %}
                <a href="{% url 'Articles:delete' article.title %}" class="edit-button">Delete this Article</a>
            {% endif %}
        </div>
    </div>
{% endblock %}