{% extends 'Articles/layout.html' %}
{% load static %}

{% block title %}
    Craete Article
{% endblock %}

{% block head %}
    <script src="{% static 'Articles/js/article.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Articles/style/form.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create a New Article</h1>
        <div class="message">
            {% if message %}
                {{ message }}
            {% endif %}
        </div>
        <form action="{% url 'Articles:create' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Title" name="title" id="title">
            <textarea name="content" id="contect-box" cols="30" rows="25" placeholder="Content" id="content"></textarea>

            <h1>Add Sources</h1>
            <div class="note"><b>Note:</b>Please add links of sources in a comma separated list. Do not forget to add "https://" before the url link.</div>
            <textarea name="sources" id="sources" cols="30" rows="5" placeholder="Sources"></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}