{% extends 'Articles/layout.html' %}
{% load static %}

{% block title %}
    Edit Article
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'Articles/style/form.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Article: {{article.title}}</h1>
        {% if message %}
            <b>Note:</b> {{message}}
        {% endif %}
        <form action="{% url 'Articles:edit' article.title %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Title" name="title" value="{{article.title}}">
            <textarea name="content" id="contect-box" cols="30" rows="10" placeholder="Content">{{article.content}}</textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}