html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color1);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a, a:visited, a:active {
  text-decoration: none;
}

:root {
  --color1: hsl(242, 50%, 5%);
  --color2: hsl(242, 50%, 13%);
  --color3: hsl(242, 50%, 20%);
  --color4: hsl(242, 50%, 25%);
  --color5: hsl(242, 50%, 30%);
  --text-color: white;
}

nav {
  background-color: var(--color2);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  min-height: 3.125em;
}
nav .navbar {
  display: flex;
  flex-direction: column;
}
nav .links {
  position: relative;
  display: none;
  flex-direction: column;
}
nav .links a {
  color: var(--text-color);
  text-align: center;
  padding: 10px 5px;
  border: 1px solid white;
}
@media (min-width: 43.75em) {
  nav .navbar {
    flex-direction: row;
    width: 90%;
    margin: auto;
  }
  nav .toggle-button, nav .bar, nav .toggle-button:hover {
    display: none;
  }
  nav .links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  nav .links a {
    position: relative;
    border: none;
    padding: 5px 10px;
    margin: 0 10px;
  }
  nav .links a::after {
    content: "";
    position: absolute;
    background-color: var(--text-color);
    height: 0;
    width: 100%;
    left: 0;
    bottom: 0px;
    transition: 0.3s ease-in-out;
  }
  nav .links a:hover::after {
    height: 3px;
  }
}
nav h1 {
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
  font-size: 2rem;
}
nav .toggle-button {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 18px;
  border: none;
  background-color: transparent;
}
nav .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--text-color);
}
nav .toggle-button:hover {
  cursor: pointer;
}
nav .active {
  display: flex;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding: 1.5em;
  background-color: var(--color2);
  color: var(--text-color);
}
footer .footer-sections {
  width: 90%;
  margin: auto;
}
footer .footer-sections .footer-left {
  padding: 1rem;
}
footer .footer-sections .footer-left .footer-left-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
footer .footer-sections .footer-left .footer-left-grid a {
  position: relative;
  color: var(--text-color);
  padding: 0 3px;
}
footer .footer-sections .footer-right {
  padding: 1rem;
  width: 100%;
}
footer .footer-sections .footer-right p {
  margin-bottom: 0;
}
footer .copyright {
  text-align: center;
  margin-top: auto;
}
@media (min-width: 43.75em) {
  footer .footer-sections {
    display: flex;
  }
  footer .footer-sections .footer-left .footer-left-grid a {
    padding: 2px;
  }
  footer .footer-sections .footer-left .footer-left-grid a::after {
    content: "";
    position: absolute;
    background-color: var(--text-color);
    height: 0;
    width: 100%;
    left: 0;
    bottom: 0px;
    transition: 0.3s ease-in-out;
  }
  footer .footer-sections .footer-left .footer-left-grid a:hover::after {
    height: 2px;
  }
}
@media (min-width: 56.25em) {
  footer .footer-left {
    width: 100%;
  }
  footer .footer-left .footer-left-grid {
    width: 80%;
    -moz-column-gap: 5px;
         column-gap: 5px;
    margin-left: auto;
  }
  footer .footer-right {
    width: 100%;
  }
  footer .footer-right p {
    width: 80%;
  }
}

.template {
  position: relative;
  height: 80vh;
  background-color: var(--color1);
  display: flex;
}
.template .template-content {
  margin: auto auto 0 auto;
  width: 90%;
  padding: 1rem 0;
}
.template .template-content h1 {
  text-align: center;
  font-size: 3rem;
}
.template .template-content hr {
  width: 150px;
  background-color: white;
  height: 5px;
  position: relative;
  bottom: 20px;
}

body {
  background-color: white;
}

.container {
  margin: 1rem;
  color: var(--color3);
}
.container .schools {
  width: clamp(70vw, 100%, 95vw);
  margin: auto;
}
.container .schools .school {
  margin: 20px 0;
  padding: 0.3rem;
}
.container .schools h1 {
  text-align: center;
}

.members {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
@media (min-width: 29.25em) {
  .members {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 43.75em) {
  .members {
    width: 80%;
    margin: auto;
  }
}
@media (min-width: 56.25em) {
  .members {
    width: 85%;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
  }
}

.member {
  height: 40vh;
  width: 100%;
  margin: auto;
  overflow: hidden;
  background-color: var(--color2);
  border-radius: 10px;
  color: white;
  display: grid;
  grid-template-rows: 3fr 0.5fr;
  row-gap: 10px;
}
.member .photo {
  overflow: hidden;
}
.member .photo img {
  width: 100%;
  height: 100%;
}
.member .name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
}
@media (min-width: 56.25em) {
  .member {
    height: 55vh;
  }
}

.member:hover {
  transition: 0.2s ease-in-out;
  transform: translateY(-10px);
}/*# sourceMappingURL=about.css.map */