@forward "globals";
@forward "template";


body {
    background-color: white;
}

.container {
    width: 90vw;
    margin: auto;
    min-height: 80vh;
    h1 {
        margin-top: 1rem;
        color: var(--color3);
        text-align: center;
    }
}