@forward "globals";
@use "util" as u;
.container {
    width: clamp(60vw, 90%, 90vw);
    margin: 20px auto;

    input, textarea, select {
        width: 100%;
        margin: 0.6em 0;
        padding: 10px;
        border: 3px solid var(--color5);
        border-radius: 5px;
    }
    #file-upload {
        display: none;
    }
    select {
        background-color: var(--color5);
        color: white;

    }

    label {
        background-color: var(--color5);
        color: white;
        padding: 10px;
        font-family: sans-serif;
        border-radius: 0.3rem;
        cursor: pointer;
        margin-top: 1rem;
        width: 100%;
        text-align: center;
    }

    label:hover {
        transition: 0.3s ease-in-out;
        background-color: var(--color4);
    }

    .fileUpload {
        display: inline-block;
    }
    input[type=submit] {
        background-color: var(--color5);
        color: white;
    }


    input[type=submit]:hover {
        cursor: pointer;
        background-color: var(--color4);
        transition: 0.2s ease-in-out;
    }

    @include u.breakpoint(medium) {
        width: clamp(40vw, 90%, 60vw);
    }
}