{% extends 'Dashboard/layout.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'Dashboard/style/index.css' %}">
    <style>
        iframe {
            height: 50vh;
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">

        <h1>{{request.user}}'s Profile</h1>

        <ul>
            <li><span>First Name: </span>{{request.user.first_name}}</li>
            <li><span>Last Name: </span>{{request.user.last_name}}</li>
            <li><span>Email Addess: </span>{{request.user.email}}</li>
        </ul>

        <div class="latest-report">
            <h1>Latest Report</h1>  
        </div>
        {% if message %}
            {{message}}
        {% else %}
            {{report.graphURL|safe}}
        {% endif %}
        <div class="previous-reports">
            <h1><a href="{% url 'Dashboard:previous_reports' %}">Previous Reports</a></h1>
        </div>

    </div>
{% endblock %}