{% extends 'Dashboard/layout.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'Dashboard/style/index.css' %}">
{% endblock %}

{% block body %}
    <div class="container">

        <h1>{{request.user}}'s Profile</h1>

        <ul>
            <li><span>First Name: </span>{{request.user.first_name}}</li>
            <li><span>Last Name: </span>{{request.user.last_name}}</li>
            <li><span>Email Addess: </span>{{request.user.email}}</li>
        </ul>

        <div class="latest-report">
            <h1>Latest Report</h1>
            <p>You have no reports yet!</p>
        </div>

        <div class="previous-reports">
            <h1><a href="{% url 'Dashboard:previous_reports' %}">Previous Reports</a></h1>
        </div>
        <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/250296/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=50&type=line&update=15">

    </div>
{% endblock %}