@forward "globals";
@use "util" as u;

.container {
    width: 80vw;
    margin: 20px auto;
    min-height: 100vh;

    ul {
        list-style: none;

        li {
            span {
                color: var(--color5);
            }
        }
    }

    .previous-reports{
        a {
            text-decoration: underline;
        }
    }

    @include u.breakpoint(medium) {
        width: 60vw;
    }
}